.ui-icon-loading {
    background: url('../img/30.gif'); 
	background-size: 2.875em 2.875em;
}
a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}
ul#commandlist li:hover{
    background-color:orange;
}

strong{
    color: #046318;
}
#users li{
    cursor:pointer;
    float:left;
    width:100%;
    margin:3 -30px;
    font-family: Emojione;
}

#users li{
    cursor:pointer;
    float:left;
    width:100%;
    margin:3 -30px;
    font-family: Emojione;
}

@font-face { /* http://emojione.com/developers/ */
  font-family: Emojione;
  src: local("EmojiOne BW"), local("EmojiOne"), local("Emoji One"), 
       url("emojione-android.ttf") format("truetype");      
}

@font-face {
    font-family: Emojione;
    src: local("Arial");
    unicode-range: U+0000-00FF;
}
  
body, html, ul#messages{
    font-family: Emojione;
}

.emojis{
    font-family: Emojione;
}

ul{
    list-style-type: none;  
}
 li.selected{
background-color:lightgreen;
}


#dialog,#upldialog {
    min-width: 200px;
    max-width: 100%px;
    margin: auto;
    border: thin solid black;
    border-radius: 15px;
    padding: 10px;
    background: lightgreen; 
  }
  .hidden {
    display: none;
  }

  .ui-page-theme-e > div{
    border:0 !important;
} 
  .ui-page-theme-e > li{
    color:#fff !important;
     /* background-color:pink !important; */
      text-shadow: none !important;
  } 
  .ui-page-theme-e > strong{
    color:lightgreen;
}